<main>
  <section>
    <%= render partial: "new_message", locals: { new_message: new_message } %>
  </section>
  <section>
    <%= render partial: "message", collection: messages %>
  </section>
</main>


