article.message {
  border-bottom: 1px solid #ccc;
  padding:15px;
}

article.new-message {
  width: 100%;
  padding: 4% 0;
}

article.new-message textarea {
  height: 100px;
}

article.message div {
  padding: 0 10px 0 0;
}

.message-image img {
  width: 100%;
  border-radius: 5px;
}

.message-username {
  width: 100%;
}

.message-body-text-only {
  width: 90%;
  float: left;
}

@media screen and (min-width: 800px) {
  .message-body-mixed-media {
    width: 55%;
    float: left;
  }

  .message-image {
    width: 35%;
    float: left;
  }

  .message-delete {
    width: 10%;
    float: left;
  }
}

@media screen and (max-width: 799px) {
  .message-body-mixed-media {
    width: 90%;
    margin-bottom: 10px;
    float: left;
  }

  .message-image {
    width: 90%;
    margin-bottom: 10px;
    float: left;
  }

  .message-delete {
    width: 100%;
    text-align: center;
  }
}
